<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Inicio-Internal Mail</title>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.css" integrity="sha512-ZCCAQejiYJEz2I2a9uYA3OrEMr8ZN4BGTwlVYNxsYopLS/WH2bey53SObOKRF4ciHo5gqxgVP/muDloHvWZXHw==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--<link rel="stylesheet" href="sweetalert2.min.css">-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/telefonica.png">
</head>

<body>
	<nav>
		<div class="logoh" th:href="@{/login}">
			<img src="" class="imglogo">
			<p class="titulo">Telefónica-Internal Mail</p>
		</div>

		<!--Menu Hamburguesa-->
		<!--Boton Cerrar sesion-->
		<div class="respmenu">
			<input type="checkbox">
			<i class="fas fa-bars"></i>
			<i class="fas fa-times"></i>
			<nav>
			<ul>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			</nav>
		</div>
		<!--Fin Menu Hamburguesa-->
	</nav>

	<!--Container PDF-->
	<div class="containerindex">
		<!--Nombre de usuario-->
		<h4> Bienvenido <span sec:authentication="principal.username"></span></h4>
		<div class="container">
			<div class="row">
				<div class="actacontainer">
					<form th:action="@{/pdf/add}" th:object="${pdf}" method="post" style="width: 35rem;" class="mx-auto">
					<div class="mb-3">
						<label>Nombre del archivo :</label>
						<input type="text" id="nombrepdf"  name="nombrepdf" class="form-control" aria-label="text" required>
						<div class="form-text text-danger"></div>
					</div>
					<div class="mb-3">
						<label>Archivo :</label>
						<input type="file" name="archivopdf" id="btnseleccionar" accept="application/pdf" class="form-control" aria-label="file example" required>
						<div class="form-text text-danger"></div>
					</div>
					<div class="mx-auto" role="group" aria-label="Basic mixed styles example">
						<button id="btnnuevo" name="btnnuevo"  value="Nuevo"  type="button" class="btn btn-info" >Nuevo</button>
						<button id="btnmodificar" name="btnmodificar" value="Modificar" type="button" class="btn btn-warning">Modificar</button> 
						<button id="add" name="add" value="add" type="button" class="btn btn-success">Guardar</button>
						<button id="btneliminar" name="btneliminar" value="Eliminar" type="button" class="btn btn-danger">Eliminar</button>
						<button id="btncancelar" name="btncancelar" value="Cancelar" type="button" class="btn btn-secondary">Cancelar</button>
					</div>
				</form>

					<!--Inicio Tabla pdf-->
					<table class="table table-striped table-bordered">
						<thead class="table-dark">
								<th>ID</th>
								<th>Nombre Del pdf</th>
								<th>Archivo</th>
								<th colspan="2">Acciones</th>
						</thead>
						<tbody>
							<tr th:if="${pdf.size()>0}" th:each="c:${pdf}">
								<td th:text="${c.id}"></td>
								<td th:text="${c.nombrepdf}"></td>
								<td th:text="${c.archivopdf}"></td>
								<td> 
									<a role="button" class="btn btn-warning btn-sm" th:href="@{/pdf/Actualizar/}+${c.id}"> 
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALFJREFUSEvVleENgkAMhT8mYARkE9wEJ9NRGMERYAM30NSEpJqrd/VSCPyl976+e5e2IfhrgvXZFDAAV+CUcHUHzsDD61g7mIHuh8BfEA14ersz6qXRCzDJ/wiA6AqktwC1wa838dZJOdgV8NGdkUGVg2MCcs/3OzP3FYUDdJbHzGBTByXjyh1yiajpUj8xmfWtV82oX9a9ogGycG6ZnVDCF/ExNa5LDrtraidnFhgOeAEiZzAZCTsDCwAAAABJRU5ErkJggg=="/>
									</a> 
									<a role="button" class="btn btn-danger btn-sm" th:href="@{/pdf/delete/}+${c.id}"> 
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKlJREFUSEvtlcERQDAQRZ9KlIBOlEIFlKQUOqASJjM4hJ0fIje5ZTbZ9//uJJuReGWJ86MANdABpSFkBlpgsIQqgEuQC5cjUL0FrPtFS4iKyxKpBCp+ARwXYnt/OvatJwccyqV1z6J5/nXzvgb4CtX+5Ic6UAmjS/QDLu/qaUn+HsivKbpEivAYEDJofOh0N/msl+xGZQ8USvoeX4DmbnSqkRmY3z6WHLABUDk4GfuOp84AAAAASUVORK5CYII="/>
									</a> 
								</td>
							</tr>
						</tbody>
					</table>
					
					<!--Modal sweetalert-->
					<div class="stylemodal">
					<button tooltip="Selecciona" 
							onclick="modalenvio();">
						<span><i class="fa fa-file"></i></span>
					</button>
					</div>
				<!--Fin Tabla pdf-->
				</div>
			</div>
		</div>
		

		<!--<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.id}">ID</td>
					<td th:text="${usuario.nombre}">ID</td>
					<td th:text="${usuario.apellido}">ID</td>
					<td th:text="${usuario.email}">ID</td>
				</tr>
			</tbody>
		</table>-->
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.js" integrity="sha512-6OaQemSmGBesLcXnnqomD2dQdjQZADWvXdeVGWSOBUaJAy0UuGpQNQqmP63QBXtS6PW9xIJvLgHu5BZ6IYMwNg==" 
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{./js/modvali.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>














